<div class="d-flex justify-content-center ">
  <div class=""> 
    <h2> {{ title }} </h2>
    <p>Please input your values and hit submit.</p>
    <hr>
    
    <div style="width: 70%">
      <form [formGroup]='calculationForm' 
            (ngSubmit)="onSubmit(calculationForm.value)">
        
          <div>
    
            <label for='operand1'>Operand 1</label>
            <input type='number' 
                    class="form-control" 
                    name='operand1' 
                    formControlName='operand1'
                    (change)="onChange()">
          </div>
          
          <div>
            <label for='operand2'>Operand 2</label>
            <input type='number' 
            name='operand2' 
            class="form-control" 
            formControlName='operand2'
            (change)="onChange()">
            <br>
          </div>

        <div>
          <select formControlName="operation" 
                  class="form-control"
                  (change)="onChange()">
            <option [ngValue]='operator.sign' 
                    *ngFor='let operator of operators'> 
                    {{ operator.sign + ' ' + operator.name }} 
            </option>
          </select> 
          <hr>
        </div>
        
        <button type="submit" class="btn btn-primary align-self-center">
          Submit
        </button>
        
      </form>
      <br>
      <div class="alert alert-primary" *ngIf="isComputed">
        <h4>
            {{ calculationForm.value.operand1 + ' ' + calculationForm.value.operation + ' ' + calculationForm.value.operand2 + ' = ' + result }}
        </h4>
    
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage && !isComputed">
      {{ errorMessage }}
      </div>
    </div>
  </div>
  
</div>  

<router-outlet></router-outlet>